.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--box-shadow-dark);
}

/*--------------------------*/
/* Header */
/*--------------------------*/
.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*End of Header */

/*--------------------------*/
/* Main content */
/*--------------------------*/
.content {
  display: flex;
}
/* End of Content */

/*--------------------------*/
/* Sidebar */
/*--------------------------*/
.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* End of sidebar */

/*--------------------------*/
/* Hotel-view*/
/*--------------------------*/
.hotel-view {
  background-color: #fff;
  flex-grow: 1;
}
/* End of Hotel-view*/

/*--------------------------*/
/* Detail */
/*--------------------------*/
.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  flex: 0 0 60%;
  background-color: #fff;
  box-shadow: var(--box-shadow-light);
  margin-right: 4.5rem;
  padding: 3rem;
  font-size: 1.4rem;
}

.user-reviews {
  flex: 1;
}
